body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.timer{
 text-align: center;
 font-size: 2em;
 padding: 20px;
 border: 2px solid #ccc;
 border-radius: 10px;
 background-color: #ffff;
 box-shadow: 0 4px 8px rgba(0,0,0,0.1);   
}