body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2{
margin-bottom: 1.5rem;
color: #333;
}

input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
}
input:focus {
    outline: none;
    border-color: #74b9ff;
    box-shadow: 0 0 5px rgba(116, 185, 255, 0.6);
}
button{
    width: 100%;
    padding: 12px;
    background: #74b9ff;
    color: #fff;
    border:none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top:10px;
}
button:hover {
    background: #0984e3;
}
a {
    width: 100%;
    display: inline-block;
    margin-top: 15px;
    font-size: 14px;
    color: #0984e3;
    text-decoration: none;
    transition: color 0.3s;
}
 a:hover {
    color: #74b9ff;
 }

 @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
 }
